.textInput{
    border: none;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.612);
    padding: 0;
    font-size: 1rem;
    width: 50%;
    text-transform: uppercase;
}
.inputDiv{
    // width: 75%;
    margin: .5rem 0;
    display: grid;
    grid-template-columns: auto 50%;
    
    label{
        // border: 1px solid red;
        border-radius: .5rem;
        padding: 5px;
        background-color: aliceblue;
    }
    .incomeInput{
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.427);
        // width: 50%;
        margin-left: 1rem;
    }
}